.mycontainer {
  margin-top: 10px;

  border: 1px solid rgba(255, 255, 255, .2);
}


.label {
  float: left;
  padding: 5px;
}

.addicon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(41, 99, 185);
  border-radius: 100px;
  margin-left: 30px;
  margin-bottom: 20px;
  top: 50;
  left: 0;
  padding: 10px;
}


.pdficon {
  width: 60px;
  height: 65px;
  cursor: pointer;
  top: 50;
  padding: 10px;
}


.logo {
  width: 120px;
  height: 60px;
}

.logo_div {
  margin-top: 30px;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  background-position: center;
}

.wrapper {
  width: 350px;
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(0, 0, 0) 78.9%, rgb(17, 2, 2), blue);
  backdrop-filter: blur(20px);
  box-shadow: black;
  color: #b0aec1;
  border-radius: 20px;
  padding: 40px 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: 1px solid rgba(255, 255, 255, .2);

}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 25px;
  font-size: 16px;
  color: #0073cb;
  padding: 20px 45px 20px 20px;
}

.input-box1 input {
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 8px;
  font-size: 16px;
  color: #0073cb;
}

.input-box input::placeholder {
  color: #0073cb;
}

.input-box1 input::placeholder {
  color: #0073cb;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;

}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  /* margin: -15px 0 15px; */
}

.remember-forgot label input {
  accent-color: #b97272;
  margin-right: 3px;
}


.remember-forgot a {
  color: #fff;
  text-decoration: none;

}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  border-radius: 40px;
  border: none;
  outline: none;
  background: #a0aaeb;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  text-align: center;
  font-size: 14.5px;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;

}

.register-link p a:hover {
  text-decoration: underline;
}

.logo_login {
  text-align: center;
}

.logo_out {
  width: 40px;
  height: 40px;
  float: right;
  padding: 1px;
}

.pdf_btn {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  text-align: right;
  position: sticky;
}


.tech {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}

.img_tech {
  width: 60px;
  height: 60px;
}

.dash {
  margin-top: 90px;
}

.customer {
  border: 2px solid none;
}